In [1]:
import numpy as np
import pandas as pd
testdata = pd.read_csv("liquid_samples_test.csv")
traindata = pd.read_csv("liquid_samples_training.csv")
import matplotlib.pyplot as plt
import seaborn as sns
!pip install seaborn

Requirement already satisfied: seaborn in /anaconda/envs/azureml_py36/lib/python3.6/site-packages (0.11.0)
Requirement already satisfied: scipy>=1.0 in /anaconda/envs/azureml_py36/lib/python3.6/site-packages (from seaborn) (1.4.1)
Requirement already satisfied: pandas>=0.23 in /anaconda/envs/azureml_py36/lib/python3.6/site-packages (from seaborn) (0.25.3)
Requirement already satisfied: matplotlib>=2.2 in /anaconda/envs/azureml_py36/lib/python3.6/site-packages (from seaborn) (3.2.1)
Requirement already satisfied: numpy>=1.15 in /anaconda/envs/azureml_py36/lib/python3.6/site-packages (from seaborn) (1.18.5)
Requirement already satisfied: pytz>=2017.2 in /anaconda/envs/azureml_py36/lib/python3.6/site-packages (from pandas>=0.23->seaborn) (2020.1)
Requirement already satisfied: python-dateutil>=2.6.1 in /anaconda/envs/azureml_py36/lib/python3.6/site-packages (from pandas>=0.23->seaborn) (2.8.1)
Requirement already satisfied: cycler>=0.10 in /anaconda/envs/azureml_py36/lib/python3.6/site-packages (from matplotlib>=2.2->seaborn) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /anaconda/envs/azureml_py36/lib/python3.6/site-packages (from matplotlib>=2.2->seaborn) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /anaconda/envs/azureml_py36/lib/python3.6/site-packages (from matplotlib>=2.2->seaborn) (1.2.0)
Requirement already satisfied: six>=1.5 in /anaconda/envs/azureml_py36/lib/python3.6/site-packages (from python-dateutil>=2.6.1->pandas>=0.23->seaborn) (1.15.0)

In [4]:
traindata['class'] = traindata['class'].map({'Class A': 1, 'Class B': 2,'Class C': 3,'Class Z1': 4,'Class Z2': 5,'Class X1': 6,'Class X2': 7})
traindata['spectrum'] = traindata['spectrum'].map({'ultraviolet': 1, 'violet': 2,'white': 3,'red': 4,'infrared': 5 })

In [5]:
traindata.head()

,sample_id,class,density,viscosity,conductance,spectrum,pH,nitrates,phosphates,chlorides,sulphates,organics,metals,isotope_diversity
0,2998,NaN,0.99212,5.8,0.699926,2,6.262996,0.36,0.50,0.127,0.45,1.0,4.143135,9.7
1,3411,NaN,0.99458,6.8,-0.781538,3,7.755652,0.27,0.29,0.046,0.48,4.6,1.791759,10.6
2,1371,NaN,0.99940,12.4,0.982642,4,5.889832,0.40,0.51,0.059,0.60,2.0,1.791759,9.3
3,925,NaN,0.99975,9.3,0.097245,4,7.133712,0.61,0.26,0.090,0.62,3.4,NaN,9.7
4,1859,NaN,0.98938,6.1,0.544021,1,6.014220,0.34,0.29,0.036,0.44,2.2,3.218876,11.8

In [7]:
traindata.corr(method ='kendall')

,sample_id,class,density,viscosity,conductance,spectrum,pH,nitrates,phosphates,chlorides,sulphates,organics,metals,isotope_diversity
sample_id,1.000000,NaN,-0.192948,-0.201682,0.006369,-0.412001,-0.159046,-0.304445,0.083373,-0.332583,-0.250056,0.130950,0.258082,-0.002450
class,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
density,-0.192948,NaN,1.000000,0.308008,0.006195,0.239158,-0.006943,0.175753,0.046132,0.415341,0.180617,0.357679,0.004145,-0.490133
viscosity,-0.201682,NaN,0.308008,1.000000,-0.004985,0.252172,-0.172177,0.138459,0.179674,0.255688,0.158219,-0.020272,-0.182267,-0.069668
conductance,0.006369,NaN,0.006195,-0.004985,1.000000,-0.006071,-0.016658,-0.005688,0.006519,-0.004431,0.009250,0.006950,0.001501,-0.014856
spectrum,-0.412001,NaN,0.239158,0.252172,-0.006071,1.000000,0.168488,0.335688,-0.084071,0.376054,0.281189,-0.131095,-0.280277,-0.007540
pH,-0.159046,NaN,-0.006943,-0.172177,-0.016658,0.168488,1.000000,0.110883,-0.181846,0.094778,0.160169,-0.152301,-0.099931,0.091298
nitrates,-0.304445,NaN,0.175753,0.138459,-0.005688,0.335688,0.110883,1.000000,-0.193203,0.276389,0.171357,-0.048501,-0.247525,-0.010150
phosphates,0.083373,NaN,0.046132,0.179674,0.006519,-0.084071,-0.181846,-0.193203,1.000000,-0.043178,0.027951,0.063619,0.081348,0.008609
chlorides,-0.332583,NaN,0.415341,0.255688,-0.004431,0.376054,0.094778,0.276389,-0.043178,1.000000,0.252778,-0.016215,-0.172530,-0.263942
sulphates,-0.250056,NaN,0.180617,0.158219,0.009250,0.281189,0.160169,0.171357,0.027951,0.252778,1.000000,-0.095186,-0.152618,0.019525
organics,0.130950,NaN,0.357679,-0.020272,0.006950,-0.131095,-0.152301,-0.048501,0.063619,-0.016215,-0.095186,1.000000,0.255354,-0.199531
metals,0.258082,NaN,0.004145,-0.182267,0.001501,-0.280277,-0.099931,-0.247525,0.081348,-0.172530,-0.152618,0.255354,1.000000,-0.118351
isotope_diversity,-0.002450,NaN,-0.490133,-0.069668,-0.014856,-0.007540,0.091298,-0.010150,0.008609,-0.263942,0.019525,-0.199531,-0.118351,1.000000

In [8]:
traindata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 14 columns):
sample_id            5000 non-null int64
class                0 non-null float64
density              4801 non-null float64
viscosity            4878 non-null float64
conductance          5000 non-null float64
spectrum             5000 non-null int64
pH                   5000 non-null float64
nitrates             4866 non-null float64
phosphates           5000 non-null float64
chlorides            4850 non-null float64
sulphates            4871 non-null float64
organics             5000 non-null float64
metals               4861 non-null float64
isotope_diversity    5000 non-null float64
dtypes: float64(12), int64(2)
memory usage: 547.0 KB

In [10]:
filltrain = traindata.select_dtypes(exclude=["object"])

In [15]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy="median")
imputer.fit(filltrain)
filltrain.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 14 columns):
sample_id            5000 non-null int64
class                0 non-null float64
density              4801 non-null float64
viscosity            4878 non-null float64
conductance          5000 non-null float64
spectrum             5000 non-null int64
pH                   5000 non-null float64
nitrates             4866 non-null float64
phosphates           5000 non-null float64
chlorides            4850 non-null float64
sulphates            4871 non-null float64
organics             5000 non-null float64
metals               4861 non-null float64
isotope_diversity    5000 non-null float64
dtypes: float64(12), int64(2)
memory usage: 547.0 KB

In [21]:
D= imputer.transform(filltrain)
DF = pd.DataFrame(D, index=filltrain.index)

In [23]:


DF.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,2998.0,0.99212,5.8,0.699926,2.0,6.262996,0.36,0.50,0.127,0.45,1.0,4.143135,9.7
1,3411.0,0.99458,6.8,-0.781538,3.0,7.755652,0.27,0.29,0.046,0.48,4.6,1.791759,10.6
2,1371.0,0.99940,12.4,0.982642,4.0,5.889832,0.40,0.51,0.059,0.60,2.0,1.791759,9.3
3,925.0,0.99975,9.3,0.097245,4.0,7.133712,0.61,0.26,0.090,0.62,3.4,3.367296,9.7
4,1859.0,0.98938,6.1,0.544021,1.0,6.014220,0.34,0.29,0.036,0.44,2.2,3.218876,11.8

In [25]:
DF=DF.drop(["0"],axis=1)

KeyError: "['0'] not found in axis"

In [ ]:
X = finaldata.loc[:,finaldata.columns != 'class']
y = finaldata['class']
# creating the train test split usually
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)